      <section class="padding-top-150 padding-bottom-150">
        <div class="container"> 
          
          <!-- Main Heading -->
          <div class="heading text-center">
            <h4>categories</h4>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
            Sed feugiat, tellus vel tristique posuere, diam</span> </div>
          
          <!-- NEW ARRIVAL -->
          <div class="new-arrival-list">
            <ul class="row">
              
              <!-- SHOP_ITEMS -->
              <li class="col-md-6"> 
                
                <!-- SHOP ITEM 1 -->
                <article> <img class="img-responsive" src="image/{{categories[0]['image']}}" alt="">
                  <div class="position-center-center">
                    <h4><a href="{{categories[0].href}}">{{categories[0].name}}</a></h4>
                    <a href="{{categories[0].href}}" class="btn btn-small btn-round">MORE</a> </div>
                </article>
                
                <!-- SHOP ITEM 3 -->
                <article> <img class="img-responsive" src="image/{{categories[1]['image']}}" alt="">
                  <div class="position-center-center">
                    <h4><a href="{{categories[1].href}}">{{categories[1].name}}</a></h4>
                    <a href="{{categories[1].href}}" class="btn btn-small btn-round">MORE</a> </div>
                </article>
              </li>
              <li class="col-md-6"> 
                
                <!-- SHOP_ITEM 2 -->
                <article> <img class="img-responsive" src="image/{{categories[2]['image']}}" alt="">
                  <div class="position-center-center">
                    <h4><a href="{{categories[2].href}}">{{categories[2].name}}</a></h4>
                    <a href="{{categories[2].href}}" class="btn btn-small btn-round">MORE</a> </div>
                </article>
                
                <!-- SHOP_ITEM 4 -->
                <article> <img class="img-responsive" src="image/{{categories[3]['image']}}" alt="">
                  <div class="position-center-center">
                    <h4><a href="{{categories[3].href}}">{{categories[3].name}}</a></h4>
                    <a href="{{categories[3].href}}" class="btn btn-small btn-round">MORE</a> </div>
                </article>
              </li>
            </ul>
            
          </div>
        </div>
      </section>
      