  <!-- Nav Popup -->
  <div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
      <div class="position-center-center">
        <div class="col-sm-5">
          
          <!-- Nav -->
          <nav>
            <ul class="cd-primary-nav">
              <li class="active"> <a href="{{home}}">{{ text_home }} </a></li>
              <li> <a href="about-us_01.html">About </a> </li>
              <li class="drop-menu"> <a href="#" class="title collapsed" data-toggle="collapse" data-target="#down-1"> shop </a>
                  <div class="collapse" id="down-1">
                    <div class="well">
                      <ul>
                      {% for category in categories %}
                        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                </li>
              <li> <a href="blog-list_01.html"> Blog</a> </li>
              <li> <a href="{{contact}}"> {{text_contact}}</a> </li>
              </ul>
          </nav>
          
          <!-- Social Icons -->
          <ul class="social_icons">
            <li><a href="#."><i class="icon-social-facebook"></i></a></li>
            <li><a href="#."><i class="icon-social-twitter"></i></a></li>
            <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
            <li><a href="#."><i class="icon-social-youtube"></i></a></li>
            <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
          </ul>             
        </div>
        
        <!-- Right Section -->
        <div class="col-sm-7">
      </div>
      </div>
    </div>
  </div>